/*======================== V A R S =========================*/

// Colors

$gray: #E6EBE0;
$black: #1B1F3B;
$black2: #101935;
$pink: #FE938C;
$pink2: #EE4B6A;
// Typography

$font: 'Rambla', sans-serif;

$normal: 400;
$bold: 700
